.env

# editors
.DS_Store
**/.vscode
**/.idea

# terraform
**/.terraform*
*.tfstate*

# rust
**/target/
Cargo.lock

# ursa configs and databases
config.toml
index_provider_db*
test_db*
ursa_db*
tracker_db*
keystore*
car_files*

# docker-compose metric services
**/data/certbot
**/nginx/cache
**/grafana/grafana.db
**/grafana/plugins
**/grafana/png
**/grafana/csv
**/grafana/file-collections
